<html lang="en">

<head>

    <title>Bitfolio</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="css/dashboard.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet" type='text/css'>

</head>
 

<body>

        <div id="title">

            <div id="welcome">
                <h2>Welcome {{ name }}!</h2>
            </div> 

        <!--     <div id="description">
                <h3>Enjoy complete control over your bitcoin and altcoin portfolio with historical progress charts, detailed price actions of individual 
                coins, and easy-to-use tools at your disposal to best access your investments. </h3>
            </div>  -->

            <div id="login">
                <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Login</a></p>
            </div>

            <div id="signup">
                <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign Up</a></p>
            </div>

        </div> 

        <div id="particle-canvas">
            <script type="text/javascript" src="particle-network.min.js"></script>
            <script type="text/javascript">
            var canvasDiv = document.getElementById('particle-canvas');
            var options = {
                particleColor: '#888',
                background: "img/bg1.png",
                interactive: false,
                speed: 'normal',
                density: 'high'
            };
            var particleCanvas = new ParticleNetwork(canvasDiv, options);
        </script>

    </div>

</body>
 
</html>
