<html lang="en">

<head>

    <title>Bitfolio</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="../static/styles/signup.css" type="text/css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/signup.css') }}">
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script>
        $(function() {
            $('#btnSignUp').click(function() {
                $.ajax({
                    url: '/createuser',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>


</head>
 

<body>



    <header id="header">
        <div class="content">
        <nav id="nav">
            <ul>
                <li><a href="/" title="Next Section">Home</a></li>
<!--                 <li><a href="/dashboard" title="Next Section">DashBoard</a></li> -->
                <li><a href="/login" title="Next Section">Login</a></li>
                <li><a href="/signup" class="active" title="Next Section">Signup</a></li>
            </ul>
        </nav>
        </div>
    </header>  

    <div id="title">
        <h1>Bitfolio</h1>
        <h2>Personalized Cryptocurrency Portfolio</h2>
    </div>

    {% block content %}
    {% if session['logged_in'] %}
    <p>Oh no Dont show page</p>
    {% else %}

    <div id="login">
        <div id="login-screen">
            <form action="/signup" class="form-signin" method="POST">
            <label><b>First Name</b></label>
            <input type="firstname" name="firstname" class="form-control" placeholder="First Name" required autofocus>
            <br></br>
            <label><b>Last Name</b></label>
            <input type="lastname" name="lastname" class="form-control" placeholder="Last Name" required autofocus>
            <br></br>
            <label><b>Email Address</b></label>
            <input type="email" name="email" class="form-control" placeholder="Email Address" required autofocus>
            <br></br>
            <label><b>Password</b></label>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
             
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Account">
            </form>
            </div>
        <div class="flashes">
            {% for message in get_flashed_messages() %}
            <h4>{{ message }}</h4>
            {% endfor %}
        </div>
    </div>

    {% endif %}
    {% endblock %}


    <div id="particle-canvas">
        <script type="text/javascript" src="../static/js/particle-network.min.js"></script>
        <script type="text/javascript">
            var canvasDiv = document.getElementById('particle-canvas');
            var options = {
                particleColor: '#888',
                background: "../static/img/bg1.png",
                interactive: false,
                speed: 'normal',
                density: 'high'
            };
            var particleCanvas = new ParticleNetwork(canvasDiv, options);
        </script>
    </div>

</body>
 
</html>


