body{
	margin: 0;
	padding: 0;
	font-family: 'Varela Round', sans-serif;
/*	z-index: -1;*/
/*	width: 100%;*/
}

h1 { 
	font-weight: 600;
	font-size: 80px;
	margin: 0;
	padding: 0;
	line-height: 115%;
	position: relative;
}

h2 {
   font-weight: 500;
   font-size: 34px;
   margin: 0;
   padding: 0;
   line-height: 115%;
   position: relative;
   /*color:#1B96DD;*/
   color: #53A550;
}

h3 {
   font-weight: 100;
   font-size: 18px;
   margin: 0;
   padding: 0;
   line-height: 125%;
   position: relative;
}


#header { 
	width: 100%; 
	height: 60px; 	
	position: absolute;
	margin-top: 0px;
	background-color: #25292E;
	z-index: 20;
	overflow: hidden;
}

#nav { width:800px; float: left; margin-top: 5.5px; margin-left: 50.5px;}

#nav ul{
	list-style: none;
	display: block;
	margin: 0 auto;
}

#nav li{
	margin-top: 11px;	
	float: left;
	padding-left: 36px;
}

#nav li a { color: #C8C9CB; font-size: 16px; text-decoration: none; font-family: 'Varela Round', sans-serif; font-weight: bold;}
#nav li a.active { color: #FFFFFF; opacity:1; border-bottom: 2px ; text-decoration: none}
#nav li a:hover { color: #FFFFFF; opacity:1; }




#title{
	position: absolute;
	width: 100%;
	top: 25%;
	left: 120px;
	text-align: left;
	z-index: 20;
	color: #212B33;
}

#description{
	top: 120%;
	height: 100%;
	width: 620px;
	position: absolute;
	text-align: left;
}

#login{
	top: 200%;
/*	left: 56%;*/
	position: absolute;
}

#signup{
	top: 200%;
	left: 105px;
	position: absolute;
}

#portfolio{
	position: absolute;
	top: 26%;
	left: 860px;
	z-index: 20;
}

#particle-canvas{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 10;

	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}
