body{
	margin: 0;
	padding: 0;
	
/*	z-index: -1;*/
/*	width: 100%;*/
}

h1 { 
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 600;
	font-size: 50px;
	margin: 0;
	padding: 0;
	line-height: 120%;
	position: relative;
}

h2 {
   font-family: 'Merriweather Sans', sans-serif;
   font-weight: 500;
   font-size: 34px;
   margin: 0;
   padding: 0;
   line-height: 120%;
   position: relative;
}

h3 {
   font-family: 'Merriweather Sans', sans-serif;
   font-weight: 900;
   font-size: 28px;
   margin: 0;
   padding: 0;
   line-height: 125%;
   position: relative;
}

br {
	display: block;
	margin: 10px 0;
	line-height: 10px;
	content: " ";
}

/*p {
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 100;
	font-size: 3px;
}*/

/*/button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover{
    opacity: 0.8;
}*/




#header { 
	width: 100%; 
	height: 50px; 	
	position: fixed;
	margin-top: 0px;
	background-color: #25292E;
	z-index: 20;
	overflow: hidden;
}

#nav { width:800px; float: left; margin-top: 5.5px; margin-left: 50.5px;}

#nav ul {
	list-style: none;
	display: block;
	margin: 0 auto;
}

#nav li {
	margin-top: 6px;	
	float: left;
	padding-left: 36px;
}

#nav li a { color: #C8C9CB; font-size: 14px; text-decoration: none; font-family: 'Merriweather Sans', sans-serif; font-weight: bold;}
#nav li a.active { color: #FFFFFF; opacity:1; border-bottom: 2px ; text-decoration: none}
#nav li a:hover { color: #FFFFFF; opacity:1; }




#jumbotron {
	width: 50%;
	position: absolute;
}
 
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}








#particle-canvas{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 10;
}
